select{
	border: 1px solid red;
	height: 20px;
	width: 200px;
	margin-bottom: 5px;
}
.chosen{
		background-color: #000;
		color: red;
		border: 3px solid blue;
}
.dialogueChain{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.playerChoices{
	position: relative;
	background-color: #a7c8e7;
	width: 294px;
  height: 470px;
  padding: 5px;
	font-family: marker-felt;
	line-height: 1.3em;
}
.responses{
	position: absolute;
	right: 5px;
  top: 180px;
  padding: 7px;
	width: 120px;
	height: 100px;
	background: #fff;
	border: 1px solid #000;
}
// white buttons
.choices input[type="button"]{
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	width: 151px;
	min-height: 130px;
	height: 153px;
	box-shadow: 5px 5px 15px #607c92;
	padding: 6px;
	margin-bottom: 5px;
	background-color: #fff;
	color: black;
	word-wrap: break-word;
	white-space: normal;
	&:hover{
		background-color: #66a4bd;
		box-shadow: 10px 10px 20px #607c92;
	}
}
.choices input[type="button"]:focus{
	background-color: #b0cce6;
}
.choices{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
