.intro{
	height: 500px;
	width: 950px;
	background-image: url("../assets/images/intro-page-bg.jpg");
	background-repeat: no-repeat;
	
	.bottomRight{
		position: relative;
		left: 800px;
		top: 400px;
	}
}